
#RegBox{
    width:94%;
    height:520px;
    background-color: snow;
    margin: auto;
    background-image: url("http://cdn.miscellaneoushi.com/1680x1050/20130103/women%20models%20isabeli%20fontana%20fashion%20photography%201680x1050%20wallpaper_www.miscellaneoushi.com_5.jpg");
    
}
#CheckOutBox{
    margin: auto;
    width:35%;
    height:89%;
    border:1px solid #26262c2f;
    color: #26262c;
    letter-spacing: .06rem;
    text-align: center;
    font-size: 18px;
    font-family: "Avenir Medium", sans-serif;
    background-position: 50%;
    padding:2%;
    box-shadow: rgba(60, 61, 61, 0.397) 0px 2px 5px -1px, rgba(81, 82, 82, 0.397) 0px 1px 3px -1px;
}
#SignUpBut{
    width:30%;
    height:40px;
    background-color:#26262c;
    color: snow;
    letter-spacing: .06rem;
    font-size: 12px;
    font-family: "Avenir Medium", sans-serif;
    background-position: 50%;
    border-radius: 5px;
    margin-top: 40px;

}
#SignUpBut:hover{
    background-color: #26262c83;
    box-shadow: rgba(60, 61, 61, 0.397) 0px 2px 5px -1px, rgba(81, 82, 82, 0.397) 0px 1px 3px -1px;
    cursor: pointer;
}